@charset "utf-8";

@import "../../node_modules/include-media/dist/_include-media.scss";
@import "config/reset";
@import "config/variables";
@import "config/mixins";
@import "config/utils";
@import "config/type";
@import "config/grid";

@import "layout/l-ContactList";


:root {

	@each $breakpoint-key, $breakpoint-var in $breakpoints {

		@include site-get-var-loop("#{$breakpoint-key}");
	}
}

* {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	cursor: none;
}

body {
	background-color: $c-off-white;
	transition: 400ms background-color $standard-curve;

	html.dark-theme & {
		background-color: $c-black;
	}
}
