.l-ContactList {
	width: 100%;
	position: relative;

	@include grid-container;
	@include v-spacing(margin-bottom, 60px, 120px);
}

.l-ContactList__item {

	@include grid-col(1, -1);
	@include v-spacing(margin-bottom, 15px, 28px);

	@include media(">=medium") {

		@include grid-col(2, 7);
	}

	&:last-of-type {
		margin-bottom: 0;
	}

	> p {
		margin-top: 0;
		margin-bottom: 0;
		transition:
			800ms color 400ms $standard-curve,
			400ms opacity $standard-curve;

		.dark-theme & {
			color: $c-white;
		}
	}
}