.page-enter-active,
.page-leave-active {
	position: relative;
  transition:
		opacity 600ms $standard-curve,
		top 600ms $standard-curve;
}

.page-enter,
.page-leave-to {
	opacity: 0;
	top: 10px;
}

.page-enter-to,
.page-leave {
	top: 0;
}