/* ============================================================================================
	Breakpoints
============================================================================================= */
$breakpoints: (
	xsmall: 320px,
	small: 768px,
	medium: 1024px,
	large: 1440px,
	xlarge: 1920px,
	xxlarge: 2000px
);


/* ============================================================================================
	Colours
============================================================================================= */
$c-white:       	#ffffff;
$c-off-white:   	#F0F0F0;
$c-grey:   				#CBCBCB;
$c-dark-grey:			#272727;
$c-black:       	#0A0A0A;
$c-orange:				#FF5900;



/* ============================================================================================
	Z-Index
============================================================================================= */
$z-base: 0;
$z-level-one: 10;
$z-level-two: 20;
$z-level-three: 30;


/* =========================================================================
  cubic-bezier curve variables
========================================================================== */
$standard-curve: cubic-bezier(0.25, 1, 0.5, 1);


/* =========================================================================
  Font variables
========================================================================== */
$roboto: "Roboto Condensed", sans-serif;
$f-Sans: $roboto;


/* =========================================================================
  Grid Variables (size vars must match the breakpoint vars)
========================================================================== */
$site-ccs-variables : (
	cols: (
		xsmall: 6,
		medium: 12,
	),
	margin: (
		xsmall: 30px,
		medium: 60px,
		large: 72px,
	),
	gutter: (
		xsmall: 20px,
		medium: 28px,
		large: 36px,
	),
);
